@import "../variable/variable";

.footer{
  margin-top: 85px;
  padding-top: 21px;
  border-top: 4px solid $color-gray-lightx2;
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer__text{
      max-width: 580px;
      width: 100%;
      & ul{
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        line-height: 20px;
        & li::before{
          content: "|";
          margin-right: 22px;
        }
        & li{
          text-overflow: ellipsis; 
          white-space: nowrap;
          margin-right: 22px;
          & a{
            color: $color-gray;
            font-size: 12px;
            font-weight: bold;
          }
        }
      }
    }
    .footer__logo{
      max-width: 296px;
      width: 100%;
      text-align: right;
      & img{
        margin-bottom: 10px;
      }
      & p{
        font-size: 12px;
        margin-bottom: 4px;
      }
      &__phone{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & img{
          height: 12px;
          margin-right: 29px;
          margin-bottom: 0;
        }
      }
    }
  }
  &__copy{
    background-color: black;
    font-size: 12px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    margin-top: 15px;
  }

}

@media screen and (max-width: 480px){
  .footer{
    .container{
      flex-direction: column;
      .footer__text{
        & ul{
          justify-content: center; 
        }

      }
      .footer__logo{
        margin-top: 10px;
        text-align: center;
        &__phone{
          justify-content: center;
        }
      }
    }
    &__copy{
      font-size: 10px;
    }
  }
}