@import "../variable/variable";

.navbar{
  width: 100%;
  background-image: url(../../img/pic_img-shadow.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid $color-gray-lightx2;
  border-bottom: 1px solid $color-gray-lightx2;
  box-shadow: 0 5px 10px rgb(116, 112, 112);
  & .ipad-menu{
    display: none;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    & i{
      font-size: 20px;
      margin-left: 20px;
    }
    & i:active{
      color: #DA0410;
    }
  }
  & ul{
    display: flex;
    align-items: center;
    list-style: none;
    border-left: 1px solid $color-gray-lightx2;
    & li:hover .dropdown{
      display: block;
    }
    & li:hover{
      cursor: pointer;
      background-color: $color-red;
      & a{
        color: white;
      }
    }
    & li{
      width: 100%;
      border-right: 1px solid $color-gray-lightx2;
      padding-top: 21px;
      padding-bottom: 19px;
      text-align: center;
      position: relative;
      & a{
        font-size: 16px;
        color: $color-gray;
        font-weight: bold;
      }
      & .dropdown{
        width: 100%;
        flex-direction: column;
        position: absolute;
        border: none;
        padding-top: 20px;
        padding-bottom: 20px;
        display: none;
        .dropdown-item:hover{
          cursor: pointer;
          background-color: $color-red;
        }
        .dropdown-item{
          border: none;
          display: flex;
          align-items: center;
          font-size: 13px;
          color: white;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 5px;
          padding-right: 5px;
          background-color: rgba($color: #DA0410, $alpha: 0.8);
          & a{
            font-size: inherit;
            color: inherit;
          }
          & i{
            margin-right: 3px;
          }

        }
      }
    }
  }
}

@media screen and (max-width: 768px){
  .navbar{
    width:100%;
    & .ipad-menu{
      display: block;
    }
    & ul{
      display: none;
      width: 30%;
      & li{
        & .dropdown{
          right: -100%;
          top: 0;
          padding: 0;
        }      
      }
    }
  }
}

@media screen and (max-width: 480px){
  .navbar{
    & ul{
      & li{
        & a{
          font-size: 12px;
        }
      }
    }
  }
}