$font-Meiryo: "meiryo", sans-serif;
$font-Gothic: "MS Gothic", sans-serif;
$color-red: #da0410;
$color-gray: #3b3b3b;
$color-gray-light: #666666;
$color-gray-lightx2: #e1e1e1;
$text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;