@import "../variable/variable";

body{
  max-width: 100vw;
  width: 100%;
  margin: 0 auto;
  font-family: $font-Meiryo;
  font-size: 10px;
}

.container{
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

